/* stili generali */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.587);
}

li{
    list-style: none;
}

.evidenziato{
    color: white;
}
/* caratteristiche main */
main{
    height: calc(100vh - 80px);
    display: flex;
}
/* caratteristiche nav */
nav{
    width: 200px;
    height: 100%;
    padding: 5px;
    position: relative;
    background-color: #000000;
    overflow: hidden;
}

nav img{
    width: 100%;
}

#logo-piccolo{
    display: none;
}

#selezione-pagina ul>li{
    display: flex;
    margin: 5px 0;
    align-items: center;
}


#aggiungi{
    background-color: white;
    padding: 10px;
    display: inline-block;
    color: black;
}

#istallazione-app{
   position: absolute;
   bottom: 0px;
}

#separino{
    margin: 5px 0;
    border: 1px solid white;
}
/* caratteristiche main-spotify */
#main-spotify{
    width: calc(100% - 200px);
    height: 100%;
    position: relative;
    overflow-y: scroll;
    background-color: #141922;
}

#nav-bar-main{
    height: 80px;
    position: fixed;
    width: calc(100% - 200px);
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #080b128a;
}

#conteiner-album{
    margin-top: 80px;
    padding: 5px;
}

#upgrade{
    padding: 10px 30px;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    background-color: black;
    display: inline-block;
    margin-right: 20px;
}

#pagine-disponibili ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#pagine-disponibili li{
    margin: 0px 5px;
}

.lista-album{
    display: flex;
    flex-wrap: wrap;
}

.items{
    width: calc(100% / 6 - 20px);
    margin: 0px 10px;
    text-align: center;
}

.items img{
    width: 100%;
}

/* immagini artisti popolari */
.artisti-popolari img{
    border-radius: 50%;
}
/* caratteristiche footer */
footer{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #282828;
}
/* caratteristiche div dentro footer */
#musica-in-ascolto, #durata-canzone{
    display: flex;
    align-items: center;
}

#titolo-canzone{
    margin-left: 5px;
    margin-right: 25px;
}

#musica-in-ascolto img{
    width: 50px;
}

#controllo-canzone{
    text-align: center;
    width: 40%;
    color: white;
}

#durata-canzone input{
    width: 100%;
    margin: 0px 10px;
}

#controllo-canzone i{
    margin: 0px 20px;
    margin-bottom: 10px;
}

#volume i{
    margin: 0px 5px;
}


/* impostazioni 878pixel */
@media all and (max-width:878px) {
    .items{
        width: calc(100% / 4 - 20px);
    }
}
/* impostazioni pixel 639 */
@media all and (max-width:639px) {
    .items{
        width: calc(100% / 2 - 20px);
    }
}

/* impostazione schermi telefono */
@media all and (max-width:550px) {
    /* impostazioni nav */
    nav{
        width: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #main-spotify, #nav-bar-main{
        width: calc(100% - 50px);
    }
    #logo-piccolo{
        display: block;
    }
    #logo-grande, .scompari, #playlist, #separino {
        display: none;
    }
}